.play{
  position: relative;
  height: 100vh;
  margin: 0;
  padding: 0;
  overflow: hidden;
  .bg-img{
    position: absolute;
    width: 100%;
    height: 100%;
    filter: blur(50px);
    transform: scale(2);
  }
  .content{
    position: absolute;
    width: 100%;
    height: 100%;
    padding-top: 20px;
    z-index: 99;
    .title{
      text-align: center;
      color: #ffffff;
    }
    .play-hand{
      position: absolute;
      left: 50%;
      top: 0;
      width:216px;
      height:340px;
      background: url('../../assets/images/aag.png') no-repeat;
      background-size: 100%;
      transform: rotate(-30deg);
      transition: all .2s linear;
      &.playing{
        top: 0;
        left: 40%;
        transform: rotate(0);
      }
    }
    .graph{
      display: flex;
      width: 710px;
      height: 710px;
      margin: 0 auto;
      margin-top:230px;
      justify-content: center;
      align-items: center;
      background-color: rgba(72,84,101,.6);
      border-radius: 50%;
    }
    .cover{
      display: flex;
      width: 680px;
      height: 680px;
      margin: 0 auto;
      justify-content: center;
      align-items: center;
      background: url('../../assets/images/temp/play.png') no-repeat;
      background-size: 100%;
      border-radius: 50%;
      &.circle{
       animation: circle 5s linear infinite;
      }
      @keyframes circle {
        100%{
          transform: rotate(360deg);
        }
      }
      .cover-img{
        width: 380px;
        height: 380px;
        border-radius: 50%;
      }
    }
    .slider{
      padding: 0 20px;
      margin-top: 100px;
    }
    .operat{
      display: flex;
      padding: 0 90px;
      align-items: center;
      justify-content: space-between;
      .btn-replay{
        width: 90px;
        height: 80px;
        background: url('../../assets/images/song/icn_loop_mode.png') no-repeat;
        background-size: 100%;
      }
      .btn-pre{
        width: 60px;
        height: 60px;
        background: url('../../assets/images/song/ajh.png') no-repeat;
        background-size: 100%;
      }
      .btn-play{
        width: 128px;
        height: 128px;
        background-repeat: no-repeat;
        background-size: 100%;
        border-radius: 50%;
      }
      .btn-next{
        width: 60px;
        height: 60px;
        background: url('../../assets/images/song/ajb.png') no-repeat;
        background-size: 100%;
      }
      .btn-more{
        width: 80px;
        height: 80px;
        background: url('../../assets/images/song/icn_shuffle_mode.png') no-repeat;
        background-size: 100%;
      }
    }
  }
}